{# templates/index.html.twig #} {% extends 'master.html.twig' %} {% block title
%}Welcome to GEEKS Shop! {% endblock %} 

{% block content %}


<section class="bg-white py-8">
  <div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">

    {% for message in app.flashes('success') %}
    <div class="bg-green-100 w-full border-l-4 border-green-500 text-green-700 p-4 my-1" role="alert">
        <p class="font-bold">Hey there</p>
        <p>{{ message }}</p>
      </div>
    {% endfor %}

    <nav id="store" class="w-full z-30 top-0 px-6 py-1">
      <div
        class="
          w-full
          container
          mx-auto
          flex flex-wrap
          items-center
          justify-between
          mt-0
          px-2
          py-3
        "
      >
        <a
          class="
            uppercase
            tracking-wide
            no-underline
            hover:no-underline
            font-bold
            text-gray-800 text-xl
          "
          href="#"
        >
          Store
        </a>

        
      </div>
    </nav>

    <div
      class="
        w-1/2
        md:w-2/5
        xl:w-3/5
        p-6
        flex flex-col
        shadow
        rounded-xl
        mx-auto
      "
    >
      <a href="#">
        <img
          src="{{ product.picture }}"
          alt="{{ product.name }} thumbnail image"
          class="
            shadow
            rounded
            w-full
            h-56
            align-middle
            border-none
            object-contain
          "
        />
        <div class="pt-3 flex items-center justify-between">
          <p class="">{{ product.name }}</p>
          {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
          <div class="flex flex-col">
            {{ form_label(form.quantity) }}
            {{ form_widget(form.quantity, {
                                    'attr': {
                                        'min' : '1',
                                        'value': '1',
                                        'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker my-2' ~ (form.quantity.vars.valid ? '' : 'is-invalid')
                                    }
                                }) }}
            <div class="invalid-feedback">
              {{ form_errors(form.quantity) }}
            </div>
          </div>
          {{ form_widget(form.add, {'attr': {'class': 'bg-gray-100 hover:bg-gray-800 text-gray-800 hover:text-white font-bold py-2 px-4 rounded'
          }}) }}
          {{ form_end(form) }}
        </div>
        <p class="pt-1 text-gray-900">£{{ product.price }}</p>
      </a>
    </div>
  </div>
  <a
  href="{{ path('products') }}"
  class="flex font-semibold text-indigo-600 text-sm mt-10"
>
  <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512">
    <path
      d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"
    />
  </svg>
  Continue Shopping
</a>
</section>

{% endblock %}
